{% extends 'v2/base.html.twig' %}
{% block title %} {{ page.h1~' - наши работы – Детейлинг студия Styled' }} {% endblock %}
{% block description %}{{ '⭐⭐⭐⭐⭐ '~ page.h1~' – примеры наших работ. Портфолио. Цены и сколько стоит – на сайте и по телефону. Расположены у метро Отрадное, СВАО, Москва! Детейлинг студия Styled.' }}{% endblock %}

{% block body %}
    {#{{ include('v2/blocks/section/content.html.twig',{text:page.text }) }}
    <div class="uk-container">
        <div class="row mb-4 our_works">
            #}{#{{ swiper_slider(item.imgFolder) }}#}{#
        </div>
    </div>#}
    <div class="uk-container">
        <div class="h1__inner-page">
            <div class="uk-section uk-container">
                <h1>{{ page.name }} примеры</h1>
            </div>
        </div>
        <div class="nashiraboty__text">
            {{ page.text|raw }}
        </div>
        {% if images is not empty %}
            <div class="nashiraboty__photo">
                {% for image in images %}
                    <figure class="figure">
                        <img src="/img/naschiraboty/{{ page.id }}/{{ image.image }}" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption">{{ image.description }}</figcaption>
                    </figure>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block extraModules %}
    {{ our_works_slider(page) }}
{% endblock %}
