{% extends 'v2/base.html.twig' %}

{% block title %}Акции, скидки, предложения{% endblock %}
{% block seoDescription %} Акции! Сервис «Мир АКПП» ☎ Звоните 8 (495) 150-69-21 {% endblock %}
{% block canonical %}{{ app.request.schemeAndHttpHost~'/offers' }}{% endblock %}
{% block ogTitle %} Акции, скидки, предложения {% endblock %}
{% block ogDescription %}Акции! Сервис «Мир АКПП» ☎ Звоните 8 (495) 150-69-21 {% endblock %}

{% block body %}
    {% block breadcrumbs %}
    {% endblock %}
<h1 class="title">Акции и спецпредложения</h1>
    {% for offer in offers %}
        <div class="post-slide__all-offers">
            <div class="post-review">
                <h3 class="post-title"><a href="/offer/{{ offer.slug }}">{{ offer.name }}</a></h3>
            <p class="post-description">
                {{ offer.description|replace({'BRAND': ''})|raw }}
            </p>
            <div class="post-price">
                <div>
                    {% if offer.oldPrice > 0 %}
                        <span class="old_price">{{ offer.oldPrice }} руб</span>
                    {% endif %}
                    <span class="new_price">{{ offer.newPrice}} руб</span>
                </div>
            </div>
                <div class="all-offers__buttons">
                    <button class="" data-title="ОСТАВИТЬ ЗАЯВКУ" data-toggle="modal" data-target="#callback_popup">Записаться</button>
                </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}
