{% extends 'v2/base.html.twig' %}
{% block title %} {{ page.metaTitle ? page.metaTitle : (page.h1~' - Styled.cc') }} {% endblock %}
{% block body %}
    {% embed 'v2/embed/black-services-block.html.twig' %}
        {% block content %}
                        <div class="h1__inner-page">
                            <div class="uk-section uk-container">
                                <h1>{{ page.h1 }}</h1>
                            </div>
                        </div>
            <div class="seo-box__wrapper">
                {{ service_text(page.text) }}
            </div>
            {{ price_list(page) }}
            {{ special_offers(page.brandAndModelName) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block extraModules %}
    {{ service_text_down(page.textDown, page.textDown2, page.textDownImg, page.textDownImg2, page.textDownBg) }}
    {% embed 'v2/embed/black-services-block.html.twig' %}
        {% block content %}
            {#{{ include('v2/blocks/section/advantages-inner.html.twig') }}#}
            {{ include('v2/blocks/section/advantages-home.html.twig') }}
        {% endblock %}
    {% endembed %}
    <div class="uk-background-secondary">
        {{ include('elements/instagram_widget.html.twig') }}
        {{ inner_menu() }}
    </div>

       {#<div class="brands-service-block__wrapper">
            <div class="container container2">
                    <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                    {{ brands_service_block(page.path) }}
                            </div>
                    </div>
            </div>
    </div>#}
{% endblock %}