<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404 - Страница не найдена</title>
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1">
    <meta name="description" content="">
    {# Run `composer require symfony/webpack-encore-bundle`
       and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/uikit.css') }}" />
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/yamap.js') }}"></script>
        <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('js/uikit.min.js') }}"></script>
        <script src="{{ asset('js/mask.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{{ include('elements/_header.html.twig') }}
{{ include('elements/_menu_mobile.html.twig') }}
<div class="header-margin"></div>

{% block videofon %}{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block body %}

{% endblock %}

{% block extraModules %}
    {{ include('elements/popup/_callback_popup.html.twig') }}
    {{ include('elements/_advantages.html.twig') }}
{% endblock %}

{% block footer %}
    {{ include('elements/_cartblock.html.twig') }}
    {{ include('elements/_footer.html.twig') }}
    {{ include('elements/_perezvon.html.twig') }}
    {{ include('v2/scripts/_comagic.html.twig') }}
    <script type="text/javascript" src="{{ asset('js/comagic_script.js') }}"></script>
    <script src="//cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
</body>
</html>
